html, body {
	font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
	font-smooth: always;
	text-rendering: optimizeLegibility;
    margin: 0;
}

/* =========================================== 
 * Wrappers
 * ===========================================*/
.wrappers{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.wrapperheader {
    background: url("../imgs/grad_jumbograybkgrnd.png") 0 0 transparent;
}
.wrappercontent {
    background: #000 url("") 0 0 transparent;
}
.wrapperfooter {
    background: url("../imgs/footerbkgrnd.png") 0 0 repeat-x transparent;
    height:100%;
}

/* =========================================== 
 * Containers
 * ===========================================*/
.containers {
    display: block;
    margin: 0px;
    width: 960px;
    margin: 0 auto;
}
.containerheader {
    height: 810px;
    overflow: hidden;
}
.containercontent {
  
}
.containerfooter {
    min-height: 448px;
}


/* =========================================== 
 *  Header 
 * ============================================ */
#top-header{
    width: 100%;
    background: url("../imgs/grad_jumbograybkgrnd.png") 0 0 transparent;
    height: 810px;
    margin: 0px;
    padding: 0px;
}
/* Navigation */
nav{
    position: relative;
    top: 60px;
    width: 520px;
}
nav ul {
    list-style:none;
    display:table;
    margin: 0px;
    padding: 0px;
}
nav ul li {
    float:left;

}
#top-header nav ul li a { 
    color: #f0f0f0;
}
#top-header nav ul a {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    line-height: 80px;
    text-decoration: none;
    size: 6px;
}
#top-header nav ul li a:hover { 
    color: #ffffff;
}   
#top-header nav ul a:visited {
    color: #f0f0f0;
} 
#newsletter {
    position: relative;
    height: 45px;
    width: 300px;
    size:20px;
    display:inline-block;
    right: -570px;
    top: -60px;
}

#newsletter span{
    line-height: 0px;    
    position: relative;
    bottom: 0px;
    size:6px;
		
}
#newsletter a {
    text-decoration: none;
    color: #686c76;
}

#newsletter a:hover {
    text-decoration: none;
    color: #4c5059;
}

#newsletter img {
}

.shoeheaderimage { 
    background: url("../imgs/shoes_header.png") 0 0 no-repeat transparent;
    height: 810px;
    width: 892px;
    margin:-176px 0 0 auto;
    z-index: 0;
}
#shoeslinksite {
    position: relative;
    right: -540px;
    top: -100px;
    width: 300px;
    height: 35px;
}
a.shoelink  {
    text-decoration: none:
    color: gray;
    font-size: 16px;
}

#top-header .logo {
    background: url("../imgs/logo.png") 0 0 no-repeat transparent;
    height: 50px;
    width: 105px;
    position: relative;
    top: 60px;

}

#top-header .socialicons {
    position: relative;
    top: -427px;
    width: 50px;   
}
#top-header .socialicons ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}
/* ================================================== 
 * Content
 * ================================================== */

section #maincontent {}
#middle-content{}

#coolestshoes {
    margin: 10px 0 -14px 0;
    height: 120px;
    width: 100%;
}

div#coolestshoes p {	
   display: inline-block;
    width: 557px;
    margin: 0px;
}
#coolestshoes #graphimg{
    border: 0 none;
    float: right;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    top: -30px;
    right: 10px;
}
.blocktitle { 
    text-transform:uppercase;
    width: 450px;
}
.blocktitle .accent {
    color: #f26c4f;
    display:inline;
}

h3 .blocktitle { }
.divider{ 
    width: 959px;
}
aside { }

.slider {
    height: 233px;
    width: 100%;
    border: solid red 1px;
}
.sliderwithtext {
    height: 349px;
    width: 100%;
}

.row {
  margin-left: 0px;
  *zoom: 1;
  margin-bottom: 40px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  margin-left: 0px;
}
.span2{
    width: 210px;
}
.span6 {
  width: 460px;
}
.span6 p {
    padding: 0 10px 0 0;
    text-align: justify;
}
.span8 {
  width: 500px;
}
.col2right {
    float:right;
}
.tabsection {
   margin: 30px 0 0 0; 
}

/* =============================================== 
 * Footer
 * ================================================ */
footer {
    color: white;
}

.footer.logo {
    background: url("../imgs/logo.png") 0 0 no-repeat transparent;
    height: 45px;
    width: 105px;
    position: relative;
    top: 30px;
}

p.footer.text  {
    margin: 45px 0 20px 0;
}
footer .socialicons{}
.socialicons ul li{} 

#bottem-footer {}

.hidden {
  display: none;
  visibility: hidden;
}

ul.footer.sitelinks  {
    list-style:none;
    display:table;
    margin: 90px 0 0 50px;
    padding: 0px;
    padding-bottom: 10px;
}

ul.footer.sitelinks li  {
    padding: 3px 0;
    text-transform: capitalize; 
}
ul .sitelinkstitle  {
    font-weight: bold;
    size: 14px;
    text-transform: uppercase;
}

.footer.divider {
    background: url("../imgs/divider.png") 0 0 no-repeat transparent;
}
.ie7 .footer.divider {
    background: url("../imgs/divider.png") 0 90px no-repeat transparent; 
}
.ie8 .footer.divider,
.ie9 .footer.divider {
    background: url("../imgs/divider.png") 0 0px no-repeat transparent;
}
.footer.divider2 {
    background: url("../imgs/divider2.png") 0 0 no-repeat transparent;
}

/* =======================================================
 * Clear floats( 960gs ) 
 * ======================================================= */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* zoom:1 rule is specifically for IE6 + IE7.  */
.clearfix{
  *display: inline-block;   
  _height: 1%;  
  zoom: 1;
}

/* ===========================================
 * Jquery Tabs 
 * ===========================================*/

#tabContaier{
    /* background:#f0f0f0;*/
    border-left:1px solid #b8bbc1;
    border-bottom:1px solid #b8bbc1;
    margin:10px auto 35px auto;
    padding:0px;
    width:958px;
    height:400px;
}
#tabContaier ul{
    overflow:hidden;
    border-right:1px solid #fff;
    height:59px;
    z-index:100;

    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;    
}
#tabContaier li{
    float:left;
    list-style:none;
}
#tabContaier li a{
    background: #e3e3e3;
    background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(246,246,246,1) 82%, rgba(234,234,234,1) 89%, rgba(210,210,210,1) 98%, rgba(208,208,208,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(82%,rgba(246,246,246,1)), color-stop(89%,rgba(234,234,234,1)), color-stop(98%,rgba(210,210,210,1)), color-stop(100%,rgba(208,208,208,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(246,246,246,1) 82%,rgba(234,234,234,1) 89%,rgba(210,210,210,1) 98%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(246,246,246,1) 82%,rgba(234,234,234,1) 89%,rgba(210,210,210,1) 98%,rgba(208,208,208,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(246,246,246,1) 82%,rgba(234,234,234,1) 89%,rgba(210,210,210,1) 98%,rgba(208,208,208,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(246,246,246,1) 82%,rgba(234,234,234,1) 89%,rgba(210,210,210,1) 98%,rgba(208,208,208,1) 100%); /* W3C */
    border-top:1px solid #b8bbc1;
    border-right:1px solid #b8bbc1;
    border-bottom:1px solid #b8bbc1;
    color:#898989;
    cursor:pointer;
    display:block;
    font-weight:bold;
    font-size:10px;
    height:57px;
    line-height:60px;
    padding:0 30px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width:90px;
}
.ie9 #tabContaier li a{
    filter:none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg5JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}   
.ie8 #tabContaier li a,
.ie7 #tabContaier li a,
.ie6  #tabContaier li a {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-8 */
}

#tabContaier li a:hover{
    background:#eee;
    border-right:1px solid #b8bbc1;
}
#tabContaier li a.active{
    background: #ececec;
    background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
    border-right:1px solid #b8bbc1;
    border-bottom:1px solid #f2f2f2;
    color:#000;
}
.ie9 #tabContaier li a.active{
    filter:none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}   
.ie8 #tabContaier li a.active,
.ie7 #tabContaier li a.active,
.ie6 #tabContaier li a.active{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}
.tabDetails {
	background: #f2f2f2; 
	background: -moz-linear-gradient(top,  rgba(196,196,196,0.22) 0%, rgba(196,196,196,0.13) 20%, rgba(196,196,196,0.06) 47%, rgba(196,196,196,0.02) 71%, rgba(196,195,196,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,0.22)), color-stop(20%,rgba(196,196,196,0.13)), color-stop(47%,rgba(196,196,196,0.06)), color-stop(71%,rgba(196,196,196,0.02)), color-stop(100%,rgba(196,195,196,0)));
	background: -webkit-linear-gradient(top,  rgba(196,196,196,0.22) 0%,rgba(196,196,196,0.13) 20%,rgba(196,196,196,0.06) 47%,rgba(196,196,196,0.02) 71%,rgba(196,195,196,0) 100%);
	background: -o-linear-gradient(top,  rgba(196,196,196,0.22) 0%,rgba(196,196,196,0.13) 20%,rgba(196,196,196,0.06) 47%,rgba(196,196,196,0.02) 71%,rgba(196,195,196,0) 100%); 
	background: -ms-linear-gradient(top,  rgba(196,196,196,0.22) 0%,rgba(196,196,196,0.13) 20%,rgba(196,196,196,0.06) 47%,rgba(196,196,196,0.02) 71%,rgba(196,195,196,0) 100%);
	background: linear-gradient(to bottom,  rgba(196,196,196,0.22) 0%,rgba(196,196,196,0.13) 20%,rgba(196,196,196,0.06) 47%,rgba(196,196,196,0.02) 71%,rgba(196,195,196,0) 100%);
    /*margin: 57px 0 0;
    height: 340px;
    position:relative;*/
    height: 85%;
    border-top:1px solid #b8bbc1;
    border-right:1px solid #b8bbc1;
    margin:-1px 0 0 0;
    z-index:99; 
}
.ie9 .tabDetails{
    filter:none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGMzYzQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.ie8 .tabDetails,
.ie7 .tabDetails,
.ie6 .tabDetails {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

.tabContents{
    padding:20px
}
.tabContents h1{
    padding:0 0 10px 32px;
    margin: 30px 0 0 0;
    color:#959595;
    text-transform: uppercase; 
    font-size: 12px;
}
.tabContents p{
    padding:0 0 0px 32px;
    font-size: 12px;
    width: 50%;
}

.tabContents .tabshoeslider {
    position:relative;
    float:right;
    left: -80px;
    top: -200px;
}
.tabContents .tabshoeslider img {
}
.tabshoedots ul{
    list-style:none;
}
.tabshoedots li{
}

.tabshoedots li a{
    height:50px;
    width: 100px;
}

/* ---------- Carosel ------------------ */

#carousel_container {
}
#carousel_inner {
    float:left;
    width:900px;
    overflow: hidden;
    background: transparent;
    height: 340px;
}

#carousel_ul {
    position:relative;
    left:5px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width:9999px; 
    padding-bottom:10px;
}

#carousel_ul li{
    float: left; 
    width:213px;
    padding:0px;
    height:110px;
    margin-top:10px;
    margin-bottom:10px; 
    margin-left:5px; 
    margin-right:5px; 
}
#carousel_ul li img {
    .margin-bottom:-4px; 
    cursor:pointer;
    cursor: hand; 
    border:0px; 
}
#carousel_ul li a {
   text-decoration: none;
}
#carousel_ul li a .producttitle {
   color: black;
   margin-top: 13px;
   margin-bottom:10px;
   text-transform:uppercase;
   size: 12px;
   font-weight:bold;
   text-align:center;
}
#carousel_ul li a .productdetails {
   color: black;
   margin: 5px; 
   size: 9px;
   font-style: italic;
   text-align:center;
}
#left_scroll, #right_scroll{
    float:left; 
    height: 35px;
    width: 30px;
    position: relative;
    top:110px;
    background: transparent; 
}
#right_scroll{
    top:95px;
}
#left_scroll img, #right_scroll img{
    border:0; 
    cursor: pointer;
    cursor: hand;
    height: 35px;
    width: 30px;
}

